.box-left {
    height: 100%;
    border-right: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.box-left > div {
    border-bottom: 1px dashed rgb(120, 120, 120);
}

.box-left > div:last-child {
    border-bottom: none;
}